{% extends 'core/core.html' %}
{% block content %}
    <body>
    <button class="block bg-indigo-400  float-right rounded p-2 font-sans text-white"><a href="{% url 'clear-history' id %}" >Clear history</a></button>


        <div>

            <div>
                <ul id="chat-log">
                    {% for message in messages %}
                        <li>{{ message.sender }}: {{ message.text_content }}</li>
                    {% endfor %}
                </ul>
            </div>


            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id="chat-message-submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Send</button>

                </form>
            </div>

        </div>

        {{ id|json_script:"room-id" }}
        <script>
            const roomId = JSON.parse(document.getElementById('room-id').textContent);
            const chatLog = document.getElementById('chat-log');

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + roomId
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                const newMessage = document.createElement('li');
                newMessage.textContent = `${data.sender}: ${data.message}`;
                chatLog.appendChild(newMessage);
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#id_text_content').focus();
            document.querySelector('#id_text_content').onkeyup = function(e) {
                if (e.key === 'Enter') {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#id_text_content');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'message': message,
                }));
                messageInputDom.value = '';
            };
        </script>
    </body>
{% endblock content %}



